<footer class="fixed-bottom text-center text-dark">
    <h6>@2022 JOEhinmoro</h6>
</footer>
<!-- <script src="/js/jquery.js"></script> -->
<script src="/js/bootstrap.js"></script>
        </section>
    </body>
</html>
